<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin Pannel</h1>
                    <h5>Login to Manage Properties</h5>
                </div>
                <hr />

                <form action="">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="mb-3">
                        <a href="#" style="display: block; width: 50%; float: left;">Create Account</a> <a href="#" style="display: block; float: right;">Forget Password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>